name: Workflow for Codecov f2
on: [push, pull_request]

jobs:
  run:
    runs-on: ubuntu-latest
    env:
      SKIP_IN_CI: true
      CODECOV_STATIC_TOKEN: ${{ secrets.CODECOV_STATIC_TOKEN }}
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install pytest
          pip install pytest-cov
          pip install -e .

      - name: Print environment variable
        run: echo $SKIP_IN_CI

      - name: Run tests and collect coverage
        run: pytest --cov=./ --cov-report=xml

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4.5.0
        with:
          slug: Johnserf-Seed/f2
          verbose: true
